In [1]:
import pandas as pd
import numpy as np
import datajoint as dj
from ibl_pipeline import subject, acquisition, behavior
from ibl_pipeline.analyses import behavior as behavior_analysis

Connecting anneurai@datajoint.internationalbrainlab.org:3306

In [2]:
sjs = subject.SubjectUser * subject.SubjectLab() * subject.Subject & 'subject_line is NULL or subject_strain is NULL' & 'subject_nickname not LIKE "human%"'

In [3]:
sjs = sjs.proj('lab_name', 'responsible_user', 'subject_nickname', 'subject_line', 'subject_strain', 'subject_source')
sjs = sjs.fetch(format='frame').reset_index()
sjs = sjs.sort_values(by=['lab_name', 'responsible_user', 'subject_nickname'])

In [4]:
pd.set_option('display.max_rows', 1000)
sjs

,subject_uuid,responsible_user,lab_name,subject_nickname,subject_line,subject_source,subject_strain
3,4372e7ab-0978-4aff-81eb-e922e8b69920,sfn_booth_user,churchlandlab,test_human,None,None,Homo sapiens
0,216d58b3-9a24-4f95-95dc-af5fcefa761f,alejandro,cortexlab,fip_2,None,None,None
1,2f3f45d6-31ac-46fe-8ce2-779c84da427f,charu,cortexlab,dop_11,None,None,None
9,ceba369e-50e8-456f-b248-0f8091ebf2db,nick,cortexlab,Muller,RCL-GCaMP6f x VGlut-Cre,Cruciform BSU,None
5,7afdde29-d3b7-4f2f-bc9f-d90a39dbe6f4,hernando,mrsicflogellab,IBL_004,None,None,None
7,9e4cdc50-1d31-40c2-9e59-c39ee0cfce7f,alejandro,wittenlab,ibl_witten_01,None,Princeton,Dat-Cre
6,8e283b43-3a44-4f30-b292-d6d975c7f935,alejandro,wittenlab,ibl_witten_02,None,Jax,C57BL/6J
4,54edfc98-ce84-471c-94a3-c748552fbc22,alejandro,wittenlab,ibl_witten_03,None,Princeton,C57BL/6J
2,3d9f702a-3e39-497c-ac78-49b43527ac0d,alejandro,wittenlab,ibl_witten_09,None,Jax,C57BL/6J
8,9ffded1f-0ccb-45da-99e4-36eb242b7666,chrisk,zadorlab,example_CSHL1,None,Charles River,C57BL/6N

In [5]:
print('# of animals without listed line or strain')
sjs.groupby(['responsible_user'])['subject_nickname'].nunique().reset_index()

# of animals without listed line or strain

  responsible_user  subject_nickname
0        alejandro                 5
1            charu                 1
2           chrisk                 1
3         hernando                 1
4             nick                 1
5   sfn_booth_user                 1