#### From the IBL database, get data on weight and trial counts under different water regimes at CSHL
Anne Urai, CSHL, 2019

In [1]:
# PYTHON STARTS BY IMPORTING 'MODULES' AND 'PACKAGES' THAT WE'LL USE LATER

# GENERAL THINGS FOR COMPUTING AND PLOTTING
import pandas as pd
import numpy as np
import os, sys, time

# visualisation
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid", context="paper")

# set a path where you want figures to be saved
figpath  = os.path.join(os.path.expanduser('~'), 'Data/Figures_IBL')

# ibl specific things
import datajoint as dj
from ibl_pipeline import reference, subject, action, acquisition, data, behavior

Connecting anneurai@datajoint.internationalbrainlab.org:3306

If your login to DataJoint was successful, you should see something like 

'Connecting youruser@datajoint.internationalbrainlab.org:3306'

In [20]:
# FIND THE DATA WE NEED
# FIRST, WHICH SUBJECTS ARE DOING THIS CA EXPERIMENT?
subj = (subject.Subject() - subject.Death & 'subject_birth_date < "2018-09-01"').proj('subject_nickname', 'sex') * \
    (subject.SubjectLab() & 'lab_name="churchlandlab"').proj()
print(subj)

*subject_uuid  subject_nickna sex
+------------+ +------------+ +-----+
1208c089-8b8e- IBL_13         M
3e97e1d3-2a0f- IBL_34         M
3f854f88-7879- IBL_11         M
52a800fc-cbbc- IBL_1          M
55381f61-4e47- IBL_46         M
7c751b49-55a6- IBL_10         M
 (Total: 6)

In [29]:
# get date for each weighing
weight_with_date = action.Weighing.proj('weight', session_date='DATE(weighing_time)')
# create a table with primary key to be the combination of subject_uuid and session_date
# dj.U, U means uniform, all possible combinations of subject uuid and session_date, when
# restricted with weight_with_date, it returns all existing combinations of subject_uuid and 
# session_date in the table weight_with_date
# Note that there are more entries in weight_with_date than in weight_date, indicating there
# exists more than one weighing for some dates.
weight_date = (dj.U('subject_uuid', 'session_date') & weight_with_date)

# Aggregation to get average weight for each date
# before .aggr is the table you want aggregate, basically you get one value for each entry in 
# weight_with_date
# first argument is the table that is useful to compute the value you need, here weight_with_date
# provides all weights for each date, 'weight' is an attribute in the table weight_with_date
# note that the results have the same number of entries as weight_date
avg_weight_date = weight_date.aggr(weight_with_date, avg_weight='AVG(weight)')

# NOW DO THE SAME FOR WATER
water_with_date = action.WaterAdministration.proj('watertype_name', 'water_administered', 
                                                  session_date='DATE(administration_time)')
water_date = (dj.U('subject_uuid', 'session_date') & water_with_date)
total_water_date = water_date.aggr(water_with_date, total_water='SUM(water_administered)', 
                                   watertype="CONCAT_WS('; ', watertype_name)")

# get session with date
session_with_date = behavior.TrialSet.proj('n_trials') \
    * (acquisition.Session.proj(session_date='DATE(session_start_time)') & 'session_date > "2019-03-01"')
# Now you can join (*) the two tables avg_weight_date and session_with_date.
# Join * will automatically find matched session_date in both tables, and only show entries where
# these dates exist in both tables. Note there are fewer entries in this resulting table, because
# on some dates weight is missing and other dates session is missing
b = subj * session_with_date * avg_weight_date * total_water_date
b

*subject_uuid  *session_start *session_date  subject_nickna sex     n_trials     avg_weight     total_water    watertype
+------------+ +------------+ +------------+ +------------+ +-----+ +----------+ +------------+ +------------+ +------------+
1208c089-8b8e- 2019-03-04 15: 2019-03-04     IBL_13         M       479          25.65999984741 1.284000039100 Water 10% Sucr
1208c089-8b8e- 2019-03-05 14: 2019-03-05     IBL_13         M       517          24.81999969482 1.442999958992 Water 10% Sucr
1208c089-8b8e- 2019-03-11 10: 2019-03-11     IBL_13         M       410          25.13999938964 1.082999944686 Water 10% Sucr
1208c089-8b8e- 2019-03-13 14: 2019-03-13     IBL_13         M       465          24.04000091552 1.251000046730 Water 10% Sucr
1208c089-8b8e- 2019-03-14 15: 2019-03-14     IBL_13         M       719          23.61000061035 1.934999942779 Water 10% Sucr
1208c089-8b8e- 2019-03-15 09: 2019-03-15     IBL_13         M       499          24.03000068664 1.338000059127 Water 10% Sucr
1208c089-8b8e- 2019-03-18 15: 2019-03-18     IBL_13         M       600          24.68000030517 1.544999957084 Water 10% Sucr
1208c089-8b8e- 2019-03-19 13: 2019-03-19     IBL_13         M       569          24.30999946594 1.485000014305 Water 10% Sucr
1208c089-8b8e- 2019-03-20 13: 2019-03-20     IBL_13         M       633          23.79999923706 1.697999954223 Water 10% Sucr
1208c089-8b8e- 2019-03-21 14: 2019-03-21     IBL_13         M       307          23.70999908447 0.753000020980 Water 10% Sucr
1208c089-8b8e- 2019-03-22 13: 2019-03-22     IBL_13         M       722          23.15999984741 2.013000011444 Water 10% Sucr
1208c089-8b8e- 2019-03-25 14: 2019-03-25     IBL_13         M       614          23.69000053405 1.667999982833 Water 10% Sucr
   ...
 (Total: 225)

In [26]:
df = pd.DataFrame(b.fetch(as_dict=True))
df

,avg_weight,n_trials,session_date,session_start_time,sex,subject_nickname,subject_uuid,total_water,watertype
0,23.350000,229,2018-09-17,2018-09-17 14:17:28,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.978,Water
1,23.469999,292,2018-09-18,2018-09-18 12:16:50,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.915,Water
2,23.580000,213,2018-09-19,2018-09-19 11:00:11,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.977,Water
3,23.440001,248,2018-09-20,2018-09-20 12:57:37,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.979,Water
4,22.759999,329,2018-09-21,2018-09-21 12:38:49,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.942,Water
5,23.639999,451,2018-09-24,2018-09-24 12:38:11,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.347,Water
6,23.510000,268,2018-09-25,2018-09-25 13:02:04,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.915,Water
7,23.665000,368,2018-09-26,2018-09-26 13:17:08,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.898,Water
8,23.500000,474,2018-09-27,2018-09-27 13:07:02,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.897,Water
9,23.360001,481,2018-09-28,2018-09-28 12:15:42,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.858,Water
10,23.940001,394,2018-10-01,2018-10-01 11:55:37,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.880,Water
11,22.725000,466,2018-10-03,2018-10-03 12:24:10,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.815,Water
12,23.190001,483,2018-10-04,2018-10-04 11:35:33,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.109,Water
13,23.330000,513,2018-10-05,2018-10-05 11:40:02,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.295,Water
14,22.059999,818,2018-10-09,2018-10-09 13:45:53,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,3.771,Water 15% Sucrose
15,22.910000,396,2018-10-10,2018-10-10 11:00:41,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,0.966,Water 15% Sucrose
16,22.610001,695,2018-10-11,2018-10-11 11:42:11,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,3.189,Water 15% Sucrose
17,23.010000,452,2018-10-12,2018-10-12 11:32:14,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.077,Water 15% Sucrose
18,23.080000,621,2018-10-15,2018-10-15 12:39:22,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.673,Water 15% Sucrose
19,22.920000,720,2018-10-16,2018-10-16 12:38:50,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.701,Water 15% Sucrose
20,23.059999,711,2018-10-17,2018-10-17 11:37:02,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,3.417,Water 15% Sucrose
21,23.420000,634,2018-10-18,2018-10-18 11:27:35,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.991,Water 15% Sucrose
22,23.150000,588,2018-10-19,2018-10-19 11:15:44,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.230,Water 15% Sucrose
23,22.450001,1049,2018-10-22,2018-10-22 11:59:02,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.043,Water 15% Sucrose
24,22.950001,946,2018-10-23,2018-10-23 11:46:14,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.983,Water 15% Sucrose
25,22.969999,615,2018-10-25,2018-10-25 11:03:35,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.721,Water 15% Sucrose
26,22.780001,932,2018-10-26,2018-10-26 11:29:41,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,1.950,Water 15% Sucrose
27,24.910000,510,2018-10-29,2018-10-29 11:33:42,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.169,Water 10% Sucrose
28,24.750000,553,2018-10-30,2018-10-30 11:49:08,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.457,Water 10% Sucrose
29,24.430000,613,2018-10-31,2018-10-31 11:06:38,M,IBL_13,1208c089-8b8e-4a87-98f0-05a68fb18370,2.655,Water 10% Sucrose
...,...,...,...,...,...,...,...,...,...
639,22.990000,461,2019-03-15,2019-03-15 10:09:45,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.209,Water 10% Sucrose
640,24.400000,445,2019-03-18,2019-03-18 16:24:25,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.086,Water 10% Sucrose
641,23.629999,617,2019-03-19,2019-03-19 14:24:02,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.572,Water 10% Sucrose
642,23.209999,673,2019-03-20,2019-03-20 14:02:26,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.755,Water 10% Sucrose
643,23.190001,636,2019-03-21,2019-03-21 15:17:38,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.710,Water 10% Sucrose
644,23.090000,633,2019-03-22,2019-03-22 14:00:06,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.614,Water 10% Sucrose
645,24.049999,589,2019-03-25,2019-03-25 14:58:28,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.494,Water 10% Sucrose
646,23.950001,686,2019-03-26,2019-03-26 13:53:21,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.713,Water 10% Sucrose
647,23.360001,486,2019-03-27,2019-03-27 12:41:51,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.218,Water 10% Sucrose
648,22.559999,634,2019-03-28,2019-03-28 12:50:22,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.674,Water 10% Sucrose
649,22.430000,749,2019-03-29,2019-03-29 15:26:39,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.926,Water 10% Sucrose
650,23.100000,573,2019-04-02,2019-04-02 10:58:18,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.479,Water 10% Sucrose
651,23.360001,517,2019-04-03,2019-04-03 11:45:49,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.173,Water 10% Sucrose
652,23.230000,620,2019-04-05,2019-04-05 11:12:01,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.539,Water 10% Sucrose
653,23.750000,1049,2019-04-08,2019-04-08 11:32:33,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,2.397,Water 10% Sucrose
654,24.129999,616,2019-04-09,2019-04-09 14:38:14,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.455,Water 10% Sucrose
655,23.400000,813,2019-04-12,2019-04-12 12:48:28,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.956,Water 10% Sucrose
656,23.670000,915,2019-04-15,2019-04-15 13:29:47,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,2.088,Water 10% Sucrose
657,24.020000,577,2019-04-16,2019-04-16 11:38:10,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.359,Water 10% Sucrose
658,23.969999,904,2019-04-17,2019-04-17 12:19:47,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,2.196,Water 10% Sucrose
659,24.650000,617,2019-04-18,2019-04-18 11:58:40,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.449,Water 10% Sucrose
660,24.299999,642,2019-04-19,2019-04-19 12:24:19,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.569,Water 10% Sucrose
661,24.580000,505,2019-04-22,2019-04-22 14:55:56,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.176,Water 2% Citric Acid
662,24.600000,543,2019-04-23,2019-04-23 14:26:26,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.371,Water 2% Citric Acid
663,24.340000,406,2019-04-24,2019-04-24 12:46:46,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,0.975,Water 2% Citric Acid
664,23.850000,420,2019-04-25,2019-04-25 12:38:40,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,0.981,Water 2% Citric Acid
665,23.309999,599,2019-04-29,2019-04-29 13:32:02,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.437,Water 10% Sucrose
666,22.820000,895,2019-04-30,2019-04-30 14:52:52,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,2.220,Water 10% Sucrose
667,23.580000,549,2019-05-01,2019-05-01 14:58:33,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,1.251,Water 10% Sucrose
668,23.639999,407,2019-05-02,2019-05-02 12:24:45,M,IBL_10,7c751b49-55a6-4eac-9bdb-367faf2a18ee,0.960,Water 10% Sucrose